.chat_closed {
  position: absolute;
  bottom: 20px;
  right: 10px;
  width: 3vw;
  height: 2vw;
  background-color: transparent;
  background-image: url("@assets/chat-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat_closed__name {
  width: auto;
  height: auto;
  color: #0e6e0e;
  visibility: visible;
  transform: translateY(1.1vw);
}

.chat {
  position: absolute;
  width: 20vw;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
}

.chat__arrow {
  width: 40px;
  height: 40px;
  background-color: transparent;
}

.chat__header {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #82d3ff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.chat__title {
  font-size: 26px;
  font-weight: 600;
  color: white;
  margin-right: 10px;
}

.chat__status {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding-top: 5px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.chat__status-dots {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 3px;
}

.chat__status-dots * {
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  animation: status-writing .7s infinite .7s;
}

.chat__status-dots *:first-child {
  animation: status-writing .7s infinite 1.4s;
}

.chat__status-dots *:last-child {
  animation: status-writing .7s infinite;
}

.chat__viewport {
  width: 100%;
  height: 89%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 10px;
  background: linear-gradient(180deg, #c5f1fe 0%, #e4f9fb 34%, white 82%);
}

.chat__viewport::-webkit-scrollbar {
  width: 0;
}

.chat__footer {
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px 10px 15px 10px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #82d3ff;
}

.chat__send-file {
  width: 30px;
  height: 30px;
}

.chat__open-file {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.chat__message-input {
  height: 100%;
  width: 80%;
  padding: 0 10px;
  border-radius: 10px;
}

.chat__message-send {
  width: 30px;
  height: 30px;
  background-color: transparent;
}

.chat__message {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.chat__message_my {
  justify-content: flex-end;
}

.chat__message-container {
  position: relative;
  min-height: 45px;
  background-color: white;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
}

.chat__message-container_my {
  border-radius: 10px;
  border-bottom-right-radius: 0;
}

.chat__message-footer {
  text-align: end;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2px;
  padding-right: 5px;
  height: 20px;
}

.chat__message-date {
  font-size: 10px;
}

@keyframes status-writing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
