:root {
  --clr-bg-header: #c9ebf8;
  --clr-bg-nav: #0249f0;
  --clr-nav-item: #4dc6e8;
  --clr-nav-item-active: #ffffff;
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, #40a0ec 0%, #73defc 28%, #89e1f1 66%, #bbebff 100%);
}

.home__aside {
  position: relative;
  width: 30%;
  height: 100%;
  border-radius: 20px;
  background-color: white;
}

.home__aside_closed {
  display: none;
}

.home__main {
  position: relative;
  width: 70%;
  height: 100%;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
}

.home__main_full {
  width: 100%;
}

.home__content {
  width: 100%;
  height: 90vh;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header {
  width: 80vw;
  height: 7vh;
  padding: 10px 20px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-bg-header);
  border-radius: 10px;
}

.header__account {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header__icon {
  width: 40px;
  height: 40px;
}

.header__nav {
  width: 150px;
  height: 0;
  padding: 10px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: var(--clr-bg-nav);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: .2s;
}

.header__nav:hover {
  transition: .4s;
  width: 350px;
  transform: translate(-50%, 5%);
  height: auto;
  border-radius: 25px;
}

.header__nav:hover * {
  opacity: 1;
  transition: .7s;
  visibility: visible;
}

.header__nav * {
  opacity: 0;
  visibility: hidden;
}

.header__logo, .header__profile, .header__logout, .header__item {
  height: 20px;
  font-size: 16px;
  font-weight: 700;
  color: var(--clr-nav-item);
  text-align: center;
  background-color: transparent;
}

.header__logo:hover, .header__profile:hover, .header__logout:hover, .header__item:hover {
  border-bottom: 1px solid var(--clr-nav-item);
}

.header__item {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__item_active {
  color: var(--clr-nav-item-active);
}

.header__item_active:hover {
  border-bottom: 1px solid var(--clr-nav-item-active);
}

.header__logo {
  height: 25px;
  font-size: 22px;
  font-weight: 600;
  color: black;
}

.header__profile {
  color: black;
  font-weight: 400;
}

.header__logout {
  font-weight: 400;
  color: #9496ea;
}
